/* FONTS */
$robotoBold: 'roboto-bold', sans-serif;
$robotoRegular: 'roboto-regular', sans-serif;
$robotoLight: 'roboto-light', sans-serif;
$robotoThin: 'roboto-thin', sans-serif;

/* COLORS */

$green: #42af39;
$red: #bf062b;
$blue: #4922a3;
